@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.dark-bg{
    background-color: #1f293f;
}

.grey-bg{
    background-color: #e5e7eb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 20% 1% 20%;
    background-color: #333;
    color: #f9faf8;
}

.logo h1 {
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a, .hero-secondary-text {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.section1{
    padding: 5% 20% 5% 20%;
    display: flex;
    justify-content: space-between;

}

.hero-main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-button{
    margin-top: 10px;
    background-color:#3B82F6;
    color: #f9faf8;
    font-size:17px;
    font-weight: 600;
    padding: 10px 40px 10px 40px;
    border: none;
    border-radius: 8px;
}

.section2{
    padding: 3% 20% 5% 20%;
    background-color:white;
}

.info-title{
    text-align: center;
    font-size: 36px;
    color:#1f293f;
    font-weight: 900;
    margin-bottom: 40px;
}

.cards-container{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text{
    max-width: 50%;
    color: #4B5563;
    margin:5px;
    text-align: center;
    font-size: 16px;
}

.section3 {
    padding:  80px 270px 80px 270px;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.author{
    text-align: right;
    color: #1f293f;
    font-size: 23px;
    font-weight: 700;
}

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta{
    background-color:#3B82F6;
    color:white;
    margin: 90px 186px 90px 186px;
    padding: 50px 110px 50px 110px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.signup{
    border:solid 1px white;
    border-radius: 6px;
}